svg {
      font: 10px sans-serif;  
    }

    rect {
      fill: #fff;  
    }

.label{
   visibility: visible; 
}
  
    .tooltip {	
        white-space:pre-wrap;
        position: absolute;			
        text-align: left;			
        width: 200px;					
        height: 90px;					
        padding: 2px;				
        font: 12px sans-serif;		
        background: whitesmoke;	
        border: 0px;		
        border-radius: 8px;			
        pointer-events: none;			
    }/*Add Tooltip Type here*/

    .pan rect {
                    fill: black;
                    opacity: 0.2;
                }

    .pan text {
        fill: black;
        font-size: 18px;
        text-anchor: middle;
        }

    .pan:hover rect,
    .pan:hover text {
        fill: blue;    
    }    

    .axis path,
    .axis line {
        fill: none;
        stroke: #ddd;
    }

.selected{
    stroke: "darkgrey";
    stroke-width: 2px;
}

.legendTitle{
    font-weight: bold;
    align-content: center;
    fill: #757a82;
}
